extends base.pug
include mixins/video.pug
block content
    div.watchpage
        div.playbox
            div#videobox(data-id=video._id)
                video(src="/"+video.fileUrl)
                div.playcontrols
                    div.playcontrols__timeline#playcontrols__timeline
                        input.playcontrols__timeline__range(type="range", step="1", value=0,min="0")#timeline
                        div.playcontrols__controlers
                            div
                                button#play
                                    i.fas.fa-play 
                                button#mute
                                    i.fas.fa-volume-up
                                input(type="range", step="0.1",value=0.5,min="0", max="1")#volume
                                span#currenTime 00:00
                                span / 
                                span#totalTime 00:00
                            div
                                button#fullScreen 
                                    i.fas.fa-expand-arrows-alt
        
            div.videoinfo
                div.videoinfo__title
                    h1=video.title
                    div.videoinfo__titlesub
                        small=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday:'long', year : 'numeric', month : 'numeric', day : 'numeric'})
                        div
                            button#Like
                                i.fas.fa-heart  Like
                                span#likenumber #{video.meta.like}
                            button#Hate
                                i.fas.fa-heart-broken  Hate
                                span#hatenumber #{video.meta.hate}
                div.videoinfo__subinfo
                    a(href="/users/"+video.owner._id)
                        img(src="/" + video.owner.avatarUrl)
                        p=video.owner.name
                    p=video.description
            if String(video.owner._id) === loggedInUser._id
                a(href=video.id+"/edit") Edit Video &rarr;
                br
                a(href=video.id+"/delete") Delete Video &rarr;
                    div.commentSector
            if loggedIn 
                div.video__add-comments
                    form.video__comments-form#commentForm
                        input(placeholder = "공개 댓글 추가...")
                        button 댓글
            div.video__comments
                ul 
                    each comment in video.comments.reverse()
                        li.video__comment#videocomment
                            i.fas.fa-comment
                            span  #{comment.text}
                            if String(comment.owner._id) === loggedInUser._id
                                span.deletecomment(data-id = comment._id)  삭제
        div.uservideo
            span #{video.owner.name} 의 비디오
            hr
            each Video in videos
                +videolist(Video)

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")